<div class="ADMdtp-calendar-container">
    <header>
        <span class="glyphicon glyphicon-menu-left" ng-click="previousMonth()"></span>
        <span class="yearMonth">{{current.monthDscr +' '+ current.year}}</span>
        <span class="glyphicon glyphicon-menu-right" ng-click="nextMonth()"></span>
    </header>
    <div class="daysNames">
        <span ng-repeat="name in daysNames">{{name}}</span>
    </div>
    <hr>
    <div class="days" ng-class="{loading:loadingDays}">
        <span ng-repeat="day in current.days" ng-click="selectThisDay(day)"><span ng-class="[{disable: day.disable||!day.valid, today: day.today, selected: day.selected, valid:(day.valid==2)}, (day.isMin)?((calType=='jalali')?'max':'min'):'', (day.isMax)?((calType=='jalali')?'min':'max'):'']">{{day.day}}</span></span>
    </div>
    <hr>
    <footer>
<!--
        <input type="radio" ng-model="$parent.calType" value="jalali" ng-change="calTypeChanged()" ng-if="option.multiple">
        <input type="radio" ng-model="$parent.calType" value="gregorian" ng-change="calTypeChanged()" ng-if="option.multiple">
-->
        <div class="calTypeContainer" ng-class="$parent.calType" ng-click="calTypeChanged()"  ng-if="option.multiple">
            <p class="gregorian">Gregorian</p>
            <p class="jalali">جلالی</p>
        </div>
        
        <button class="today" ng-click="today()">{{(calType=='jalali')?'امروز':'Today'}}</button>
    </footer>
    <div class="timePickerContainer" ng-class="{active: timePickerStat}">
        <span class="glyphicon timeSelectIcon" ng-class="(timePickerStat)?'glyphicon-menu-down':'glyphicon-time'" ng-click="timePickerStat = !timePickerStat"></span>
<!--        <i class="fa timeSelectIcon" ng-class="(timePickerStat)?'fa-chevron-down':'fa-clock-o'" ng-click="timePickerStat = !timePickerStat"></i>-->
        <div class="timePicker">
            <span class="glyphicon glyphicon-chevron-up" ng-click="changeTimeValue('hour', 1)"></span><!--
            --><span></span><!--
            --><span class="glyphicon glyphicon-chevron-up" ng-click="changeTimeValue('minute', 1)"></span><!--
            --><span>{{time.hour}}</span><!--
            --><span class="period">:</span><!--
            --><span>{{time.minute}}</span><!--
            --><span class="glyphicon glyphicon-chevron-down" ng-click="changeTimeValue('hour', -1)"></span><!--
            --><span></span><!--
            --><span class="glyphicon glyphicon-chevron-down" ng-click="changeTimeValue('minute', -1)"></span>
        </div>
    </div>
</div>
